html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.header__inner {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

.header__inner.scroll {
  -webkit-box-shadow: 4px 28px 32px -21px rgba(34, 60, 80, 0.5);
  box-shadow: 4px 28px 32px -21px rgba(34, 60, 80, 0.5);
}

.header__inner::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 2;
}

.header__logo {
  position: relative;
  z-index: 2;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  position: relative;
}

.header__nav-item {
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

.header__nav-item + .header__nav-item {
  margin-left: 32px;
}

.header__nav-item:hover {
  border-color: #46474e;
}

.header__buttons {
  font-size: 14px;
  position: relative;
  z-index: 2;
}

.header__buttons .sign {
  color: #000;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.header__buttons .sign:hover {
  border-bottom: 1px solid #000;
}

.header__buttons .join {
  margin-left: 49px;
}

.burger {
  position: relative;
  width: 30px;
  height: 20px;
  display: none;
  background-color: transparent;
  z-index: 3;
}

.burger span {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: #000;
  top: 9px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.burger::before,
.burger::after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.burger.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.burger.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.top {
  padding-top: 80px;
  margin-bottom: 200px;
}

.top__btn:hover {
  background-color: #fff;
  color: #000;
}

.top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top__promo h3 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  max-width: 435px;
  margin-bottom: 23px;
}

.top__promo span {
  display: block;
  font-size: 15px;
  margin-top: 28px;
}

.top__promo span a:hover {
  border-bottom: 1px solid #000;
}

.top__image {
  max-width: 100%;
}

.top__image img {
  width: auto;
}

.content {
  margin-bottom: 220px;
  text-align: center;
}

.content__inner {
  display: grid;
  grid-gap: 24px;
}

.content__item {
  background-color: #f3f4f4;
  border-radius: 8px;
  padding-top: 65px;
}

.content__item img {
  margin: auto;
}

.content .item__1 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.content .item__4 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.content .item__2,
.content .item__5 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.content .item__3,
.content .item__6 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.content .item__2 {
  padding-top: 0;
}

.content__title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  max-width: 350px;
  margin: 0 auto;
}

.content__subtitle {
  line-height: 28px;
  margin-top: 17px;
}

.feed {
  margin-bottom: 200px;
}

.feed__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feed__text {
  margin-left: 200px;
}

.feed__title {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  max-width: 315px;
  letter-spacing: 0.29px;
  margin-bottom: 26px;
  text-align: center;
}

.feed__subtitle {
  font-size: 17px;
  color: #46474e;
  max-width: 420px;
}

.feed__item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 24px;
}

.feed__item.item__right {
  margin-left: 190px;
}

.feed__item.item__left {
  margin-right: 190px;
}

.feed__item + .feed__item {
  margin-top: 24px;
}

.feed__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.feed__name {
  margin-left: 16px;
}

.feed__name span {
  display: block;
  font-size: 16px;
  font-weight: 700;
}

.feed__name span.id {
  font-size: 14px;
  font-weight: 400;
}

.feed__icon {
  margin-left: auto;
}

.feed__body {
  max-width: 370px;
  margin-bottom: 24px;
}

.feed__numbers {
  font-size: 14px;
  font-weight: 400;
  color: #697882;
}

.team {
  padding-bottom: 100px;
  background-color: #fff;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  position: relative;
  z-index: 9;
}

.team__inner {
  margin-bottom: 100px;
}

.team__title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  margin-bottom: 28px;
}

.team__subtitle {
  font-size: 17px;
  text-align: center;
  max-width: 700px;
  margin: 0 auto 39px;
}

.team__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__item {
  text-align: center;
}

.team__item + .team__item {
  margin-left: 50px;
}

.team__item-img img {
  margin: 0 auto;
}

.team__item-title {
  margin: 24px 0 3px;
  font-size: 15px;
}

.team__item-subtitle {
  font-size: 13px;
}

.footer {
  margin-top: -100px;
  background-color: #F6F6F6;
  padding-top: 100px;
}

.footer__button {
  padding: 10px 48px;
}

.footer__inner {
  padding-top: 190px;
  text-align: center;
}

.footer__title {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  margin-bottom: 15px;
}

.footer__subtitle {
  margin-bottom: 30px;
}

.footer__subtitle span {
  font-size: 18px;
  margin-bottom: 5px;
}

.footer__subtitle p {
  font-size: 11px;
  max-width: 400px;
  margin: 0 auto;
}

.footer__bottom {
  margin-top: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav-item + .footer__nav-item {
  margin-left: 25px;
}

.footer__nav-link {
  font-size: 15px;
}

.footer__copy {
  font-size: 13px;
}

.button {
  border-radius: 8px;
  padding: 15px 42px;
  background-color: #000;
  color: white;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.button:hover {
  background-color: #fff;
  color: #000;
}

body {
  font-size: 16px;
  color: #46474E;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (max-width: 825px) {
  .feed__text {
    margin-bottom: 30px;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .header__nav-list {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 80px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: #c1c1c1;
    font-size: 24px;
    font-weight: 700;
    display: block;
    text-align: center;
    -webkit-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
            transform: translateY(-200%);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .header__nav-list.active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .header__nav-list.active {
    display: block;
  }

  .header__nav-item {
    padding: 15px 0;
    border: 2px solid #fff;
    cursor: pointer;
  }

  .header__nav-item + .header__nav-item {
    margin-left: 0;
  }

  .burger {
    display: block;
  }

  .top {
    margin-bottom: 100px;
  }

  .top__promo h3 {
    font-size: 35px;
  }

  .content {
    margin-bottom: 120px;
  }

  .content__inner {
    grid-gap: 12px;
  }

  .content__item {
    padding-top: 30px;
  }

  .content__title {
    font-size: 18px;
    max-width: 150px;
  }

  .content__subtitle {
    font-size: 12px;
    margin-top: 5px;
  }

  .feed__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 425px) {
  .header__buttons .join {
    margin-left: 30px;
    padding: 8px 25px;
  }

  .top {
    margin-bottom: 50px;
  }

  .top__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .top__promo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }

  .top__promo h3 {
    font-size: 24px;
  }

  .top__promo span {
    font-size: 12px;
  }

  .top__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .content {
    margin-bottom: 60px;
  }

  .content__item {
    padding: 5px 5px 0 5px;
  }

  .content__title {
    font-size: 16px;
  }

  .content__subtitle {
    font-size: 10px;
    line-height: 1.4;
  }

  .feed__title {
    font-size: 28px;
    margin: 0 auto 26px;
  }

  .feed__subtitle {
    font-size: 14px;
    text-align: center;
  }

  .feed__item.item__right {
    margin-left: 50px;
  }

  .feed__item.item__left {
    margin-right: 50px;
  }

  .team__title {
    font-size: 28px;
  }

  .team__subtitle {
    font-size: 14px;
  }

  .team__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .team__item + .team__item {
    margin: 0;
  }

  .footer__inner {
    padding-top: 90px;
  }

  .footer__title {
    font-size: 28px;
  }

  .footer__subtitle span {
    font-size: 14px;
  }

  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__copy {
    padding: 20px 0;
  }
}
@supports (-webkit-appearance:none){

}

 @media (max-width: 825px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 425px){

@supports (-webkit-appearance:none){

}

}
